.App {
  color: #FFFFFF;
 /* text-align: center;*/
}

.App-logo {
  max-width: 200px;
  width: 35%;
  height: auto;
  margin-right: 0px;

  
}

.App-title {
  text-align: center;
  /*margin-left: 50px;*/

}

.App-header { 
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #1DB954;
}




